{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block css %}
    <style>
        body {
            margin: 20px 0 0 20px;
            font-size: 14px;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }
        #calendrierGauche{
            float:left;
            width: 200px;
            margin: 0 20px 20px 0;
            font-size: 10px;
            size: auto;
        }
        #calendrier{
            float: right;
            width: 800px;
            height: 600px;
            margin: 0 20px 20px 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="calendrier"></div>
    <div id="calendrierGauche"></div>
    
{% endblock %}

{% block js %}
    <script> 
        window.onload =() => {
            let calendarElt = document.querySelector("#calendrier");
            let calendrierElt = document.querySelector("#calendrierGauche");

            let calendar =  new FullCalendar.Calendar(calendarElt,{
                initialView: 'timeGridWeek',
                firstDay: 1,
                locale : 'fr',
                timezone : 'Europe/Paris',
                headerToolbar : {
                    start : 'prev today next',
                    center : 'title',
                    end : 'dayGridMonth,timeGridWeek,dayGridDay',
                },
                buttonText : {
                    today : 'Aujourd\'hui',
                    month : 'Mois',
                    week : 'Semaine',
                    day : 'Jour',
                    list : 'Liste',
                },
                events: {{ data|raw }}
            });
            let calendrier =  new FullCalendar.Calendar(calendrierElt,{
                initialView: 'dayGridMonth',
                firstDay: 1,
                locale : 'fr',
                timezone : 'Europe/Paris',
                buttonText : {
                    today : 'Aujourd\'hui',
                    month : 'Mois',
                    week : 'Semaine',
                    day : 'Jour',
                    list : 'Liste',
                },
                headerToolbar : {
                    start : 'prev',
                    center : 'today',
                    end : 'next',
                },
            });
        calendrier.render();
        calendar.render();
        };  
    </script>
{% endblock %}
