{% extends 'base.html.twig' %}


{% block title %}Emploi du Temps{% endblock %}

{% block css %}
    <style>
        body {
            margin: 20px 0 0 20px;
            font-size: 14px;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
           
        }
        #calendrierGauche{
            float:left;
            width: 20%;
            height: 310px;
            margin: 0 20px 20px 0;
            font-size:10px;
            
        }
        #calendrier{
            float: right;
            width: 75%;
            height: 620px;
            margin: 0 20px 20px 0;
            position: relative;
        }

        .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 10px 14px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 0px 10px 10px 0px;   
            cursor: pointer;
        }

        #export{
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 10px 14px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 250px 10px 10px 0px;   
            cursor: pointer;
        }
        
    </style>
{% endblock %}

{% block body %}
    <body>
    <div id="calendrierGauche"></div>
    <div id="calendrier"></div>

    <button onclick="screenshot()" id="export">Exporter en PDF</button>
    <!-- <a href="http://127.0.0.1:8000/admin" class="button">Interface Admin</a> -->
    </body>
{% endblock %}

{% block js %}
    <script> 
        window.onload =() => {
            let calendarElt = document.querySelector("#calendrier");
            let calendrierElt = document.querySelector("#calendrierGauche");

            let calendar =  new FullCalendar.Calendar(calendarElt,{
                initialView: 'timeGridWeek',
                allDaySlot: false,
                weekends : false,
                locale: 'nl',
                timezone: 'local',
                nowIndicator: true,
                slotDuration: '00:30:00',
                slotMinTime: "08:00:00",
                slotMaxTime: "21:00:00",
                firstDay: 1,
                locale : 'fr',
                timezone : 'Europe/Paris',
                headerToolbar : {
                    start : 'prev today next',
                    center : 'title',
                    end : 'dayGridMonth,timeGridWeek,dayGridDay',
                },
                buttonText : {
                    today : 'Aujourd\'hui',
                    month : 'Mois',
                    week : 'Semaine',
                    day : 'Jour',
                    list : 'Liste',
                },
                events: {{ data|raw }}
            });
            let calendrier =  new FullCalendar.Calendar(calendrierElt,{
                initialView: 'dayGridMonth',
                navLinks: true,
                firstDay: 1,
                weekends : false,
                locale : 'fr',
                timezone : 'Europe/Paris',
                buttonText : {
                    today : 'Aujourd\'hui',
                    month : 'Mois',
                    week : 'Semaine',
                    day : 'Jour',
                    list : 'Liste',
                },
                headerToolbar : {
                    start : 'prev',
                    center : 'today dayGridMonth',
                    end : 'next',
                },
                events: {{ data|raw }}
            });
        calendrier.render();
        calendar.render();
        };  
    </script>

    <script module='html2canvas' src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script module='jspdf' src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

    <script>
        function screenshot() {
            html2canvas(document.getElementById('calendrier')).then(function(canvas){
                //document.body.appendChild(canvas)
                var img = canvas.toDataURL("image/png")
                var doc = new jsPDF()
                doc.addImage(img, 'PNG', 0, 5, 210, 120)
                doc.save("Emploi du temps.pdf")
            })
        }   
    </script>
{% endblock %}
