{% extends 'base.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    <h1>Créer une nouvelleModule</h1>

    {{ include('module/_form.html.twig') }}

    <a href="{{ path('module_index') }}">Retour à la listet</a>
{% endblock %}
