{% extends 'base.html.twig' %}

{% block title %}Edit Enseignant{% endblock %}

{% block body %}
    <h1>Edit Enseignant</h1>

    {{ include('enseignant/_form.html.twig', {'button_label':'Mettre à jour'}) }}

    <a href="{{ path('enseignant_index') }}">Retour à la liste</a>

    {{ include('enseignant/_delete_form.html.twig') }}
{% endblock %}
