{% extends 'base.html.twig' %}

{% block title %}Nouvelle Salle{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('salle_index') }}">Retour à la liste</a>
{% endblock %}
