<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>

    <!-- full calendar -->
    <link rel="stylesheet"
      href="{{
      asset(
        'https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css'
      )
      }}"
      integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA="
      crossorigin="anonymous" />
    
    {% block css %}
      
    {% endblock %}
    <!-- full calendar -->
    <script src="{{
      asset(
        'https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js'
      )
      }}"
      integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE="
      crossorigin="anonymous"></script>

    {% block js %}
      {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
  </head>
  <body>
    <div >
      {% block body %}
      {% endblock %}
    </div>

        <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; ADE 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </body>
</html>
